<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DatabaseDesigner.Properties.Settings>
            <setting name="RowHeight" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="OddBackColor" serializeAs="String">
                <value>240, 250, 240</value>
            </setting>
            <setting name="EvenBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridlineColor" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="ShowHorizontalGridlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVerticalGridlines" serializeAs="String">
                <value>True</value>
            </setting>
        </DatabaseDesigner.Properties.Settings>
    </applicationSettings>
</configuration>